@model IEnumerable<SESSI.Models.OurTeamMember>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
<br />
<div class="h4 text-center" style="color:seagreen">TEAM MEMBERS OF SESSI</div>
<p>
    <a href="~/OurTeamMembers/Create" style="color:seagreen">CREATE NEW</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MEMBER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MEMBER_POST)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MEMBER_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MEMBER_POST)
            </td>
            <td>
                <a href="~/OurTeamMembers/Edit/@item.ID" style="color:seagreen">EDIT</a> |
                <a href="~/OurTeamMembers/Details/@item.ID" style="color:seagreen">DETAILS</a> |
                <a href="~/OurTeamMembers/Delete/@item.ID" style="color:seagreen">DELETE</a>
            </td>
        </tr>
    }

</table>
