
@{
    ViewBag.Title = "CashBenefits";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
<br />
<div class="container">
    <div class="h2 text-center" style="color:seagreen">CASH BENEFITS</div>
    <div class="p-1 text-center">
        Under Social Security Scheme secured workers are entitled to cash sickness benefit, injury benefit, maternity

        benefit, iddat benefit, disablement pension, disablement gratuity, ex-gratia grant and dependants get survivors'

        pension and death grant. The detail is as under:
    </div>
    <br />
    <table class="table table-responsive">
        <tr>
            <th>TYPE OF BENEFITS</th>
            <th>RATE</th>
            <th>DURATION/MODE OF PAYMENT</th>
        </tr>
        <tr>
            <td>SICKNESS</td>
            <td>
                i)              75% of wages last drawn
                <br />
                ii)             100% of wages last drawn
            </td>
            <td>
                121 days in ordinary ailments  during calendar year
                365 days in case of Tuberculosis or Cancer
            </td>
        </tr>
        <tr>
            <td>EMPLOYMENT INJURY</td>
            <td>
                100% of wages last drawn
            </td>
            <td>
                Maximum 180 days</td>
        </tr>
        <tr>
            <td>DEATH GRANT</td>
            <td>
                30 days of sickness benefit subject to minimum Rs.1500/-
            </td>
            <td>
                Lum Sum</td>
        </tr>
        <tr>
            <td>IDDAT</td>
            <td>
                100% of wages last drawn
            </td>
            <td>
                During the period of Iddat

                (130 days)</td>
        </tr>

        <tr>
            <td> MATERNITY</td>
            <td>
                100% of wages last drawn
            </td>
            <td>
                12 weeks (6 weeks each pre-natal and post-natal)
            </td>
        </tr>
        <tr>
            <td>DISABLEMENT GRATUITY</td>
            <td>
                If the degree of disablement ranges between 1-20% (to be assessed by Medical Board)
            </td>
            <td>
                Lump sum</td>
</tr>
        <tr>
            <td>DISABLEMENT PENSION</td>
            <td>
                Partial: If the degree of disablement ranges between 21 to 66% (assessed by the Medical Board)

                <br />
                Total:  75% of wages last drawn if the degree of disablement is assessed 67% or above by Medical Board
            </td>

            <td>

                Monthly basis


                
                <br />


                <br />
                Monthly basis
            </td>    
        </tr>
        <tr>
            <td>
                SURVIVORS

                PENSION
            </td>
            <td>
                75% of wages last drawn
            </td>
            <td>
                <b>Widow: </b>  As long as  she does not re-marry



          <br /><b> Widower: </b>  Till life (if he is disabled and  dependant on his wife) provided he does not re-marry



             <br />  <b>  Children: </b> As long as they do not attain the age of 21 years.  There shall be no limit for un-married dependant daughters



          <br />  <b>   Parent: </b> Till life (in the absence of widow/ needy invalid widower)</td>
</tr>
    </table>
</div>