
@{
    ViewBag.Title = "Functions";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
<div class="container">
    <br />
    <div class="h4 text-center" style="color:seagreen">SESSI FUNCTIONS</div>
    <div class="p-1">The main functions of SESSI is to provide medical care and cash benefits to secured workers and their dependants in the event of sickness, maternity, employment injury, death grant, iddat, disablement gratuity, disablement pension, survivors' pension and ex-gratia grant.</div>
    <div class="h5" style="color:seagreen">Governing Body Function:</div>
    <div class="p-1">
        The main functions of the Governing Body are as under:<br />

        1. To approve the Budget estimates, audited accounts and annual reports of the Institution <br />

        2. To call for any information or direct any research to be made for the furtherance of the objects of the Ordinance.
    </div>

    <div class="h5" style="color:seagreen">Directorates Function:</div>
    <div class="p-1">
        The main functions of Directorates are collection of Social Security Contribution, payment of Cash Benefits, Registration of employers and workers and Survey of new establishments.
    </div>

    <div class="h5" style="color:seagreen">Medical Circles Function:</div>
    <div class="p-1">
        The main function of Circles is to provide medical care facilities to the secured workers and their dependants through dispensaries and medical centres.
    </div>
    <div class="h5" style="color:seagreen">Hospitals Function:</div>
    <div class="p-1">
        The main functions of the hospitals are to provide specialists medical care to secured workers and their dependants through OPD and IPD. Further, laboratory tests, X-ray, ultrasound, dialysis, endoscopy, etc. are performed. Necessary operative treatment also provided here.
    </div>

</div>
<br /><br /><br />