
@{
    ViewBag.Title = "MedicalServices";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div class="container">
    <br />
    <div class="h4 text-center" style="color:seagreen">MEDICAL SERVICES</div>

    <div class="h5" style="color:seagreen">Applicability:</div>
    <div class="p-1">
        The Scheme applies to the entire province of Sindh. However, administrative offices/ medical outlets are functioning in Karachi, Dhabeji, Nooriabad, Kalu Kohar, Kotri, Hyderabad, Tando Jam, Tando Adam,  Mirpurkhas, Nawabshah, Shahdadkot, Shikarpur, Jacobabad, Larkana, Rohari and Sukkur.
    </div>
    <br />
    <div class="h5" style="color:seagreen">Services:</div>
    <div class="p-1">
        SESSI provides medical facilities to the secured workers and their dependents. For providing the medical facilities there are currently 39 dispensaries, 5 medical centres and 4 hospitals running under SESSI. In order to get the medical facilities, secured workers and their dependents have to get them registered to any of the 39 dispensaries near their house at their own will. At the first stage of medical treatment, patients have to take medical treatments from the dispensaries they are registered with. The medical facilities that are provided at dispensaries are:
        <br />
        1.    Medical Officer / Lady Medical Officer are available who provide routine medical check-up and treatment.
        <br />
        2.    Pregnant ladies are provided antenatal check-up/ treatment.



        The patients who require specialists’ opinion or hospital treatment are referred to nearest SESSI hospital and the treatment advised by hospital is carried out at dispensaries.
    </div>
    <br />
    <div class="h5" style="color:seagreen">Medical Care:</div>
    <div class="p-1">
        Medical care occupies the most significant place in the services of SESSI more then 70 % of its budget is spent on providing medical facilities to the secured workers and their dependants. SESSI has made elaborate arrangement for providing these facilities. All the medical outlets are manned with qualified & experienced doctors and paramedical staff and equipped with latest instruments. Branded medicines, which purchased from reputed pharmaceutical firms are supplied to the dispensaries for providing needy secured workers and their dependants.


    </div><br />
    <div class="h5" style="color:seagreen">
        EXTENT OF MEDICAL CARE SERVICES

        FOR SECURED WORKERS AND DEPENDANTS
    </div>
    <div class="p-1">
        OPD treatment from dispensary

        *OPD / IPD (including specialists treatment) at hospitals

        *Providing treatment outside SESSI’s medical out-lets in case facility is not available

        *All clinical investigations

        *Providing medicines from SESSI's medical out-lets/ approved drug stores
    </div>
    <br />

    <div class="h5" style="color:seagreen">
        Out-Side treatment:
    </div>
    <div class="p-1">
        For those faculties which are not at present working at <a href="#" style="color:seagreen"> SESSI's hospitals</a> contracts have been made with reputed hospitals.














    </div>
    <br />
</div>