
@{
    ViewBag.Title = "Committee";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div class="container">
    <br /><br />    <br />

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <table class="table table-responsive">
                                <div class="h4 text-center">FINANCE COMMITTEE</div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>
                                        Nominee of Finance Department,

                                        Government of Sindh
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>
                                        Director Finance, SESSI
                                    </td>
                                    <td>
                                        Member/Secretary
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-responsive">
                                <div class="h4 text-center">APPELLATE COMMITTEE</div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Secretary Labour & Human Resources,  Sindh
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>
                                        Vice Commissioner, SESSI
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>
                                        Medical Adviser, SESSI
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>
                                        Director Administration/

                                        Director (Admn. Medical), SESSI
                                    </td>
                                    <td>
                                        Secretary for cases from Administration  /  Medical Wing, as the case may be.
                                    </td>
                                </tr>
                            </table>


                            <table class="table table-responsive ">
                                <div class="h4 text-center">PENSION, GRATUITY AND G. P. FUND BOARD</div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman/Convenor
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>
                                        Director Finance, SESSI
                                    </td>
                                    <td>
                                        Member/Secretary
                                    </td>
                                </tr>


                            </table>


                            <table class="table table-responsive">
                                <div class="h4 text-center">INVESTMENT COMMITTEE</sup></div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        Director Finance, SESSI
                                    </td>
                                    <td>
                                        Member/Secretary
                                    </td>
                                </tr>
                            </table>




                            <table class="table table-responsive">
                                <div class="h4 text-center">SELECTION COMMITTEE <sup>(BS-18 & ABOVE)</sup></div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>

                                        Vice Commissioner/

                                        Medical Adviser, SESSI
                                    </td>
                                    <td>
                                        Member for Administration/ Medical Branch, as the case may be
                                    </td>
                                </tr>

                                <tr>
                                    <td>7</td>
                                    <td>
                                        Director Administration/

                                        Director Administration (Medical),

                                        SESSI
                                    </td>
                                    <td>
                                        Secretary for Administration/ Medical Branch, as  the case may be.
                                    </td>
                                </tr>
                            </table>

                            <table class="table table-responsive">
                                <div class="h4 text-center">SURVEY COMMITTEE</sup></div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>6</td>
                                    <td>

                                        Director C&B, SESSI
                                    </td>
                                    <td>
                                        Member/Secretary
                                    </td>
                                </tr>


                            </table>

                            <table class="table table-responsive">
                                <div class="h4 text-center">MEDICINES/EQUIPMENTS PURCHASE COMMITTEE</sup></div>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        Commissioner, SESSI
                                    </td>
                                    <td>
                                        Chairman
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>
                                        Employers' Representative
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>

                                <tr>
                                    <td>9</td>
                                    <td>
                                        Director Finance, SESSI
                                    </td>
                                    <td>
                                        Member
                                    </td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>
                                        S.M.O. (Purchases), SESSI
                                    </td>
                                    <td>
                                        Member/Secretary
                                    </td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>
                                        Two Specialists
                                    </td>
                                    <td>
                                        Co-opted Member
                                    </td>
                                </tr>

                            </table>
                      
                        <table class="table table-responsive">
                            <div class="h4 text-center">RE-ORGANIZATION COMMITTEE</div>
                            <tr>
                                <td>1</td>
                                <td>
                                    Commissioner, SESSI
                                </td>
                                <td>
                                    Chairman
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    Employers' Representative
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>

                            <tr>
                                <td>9</td>
                                <td>
                                    Medical Adviser, SESSI
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    Director Finance, SESSI
                                </td>
                                <td>
                                    Member
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>
                                    Director Administration/

                                    Director (Admn. Medical), SESSI
                                </td>
                                <td>
                                    Member/Secretary for Administration/Medical Branch, as the case may be.
                                </td>
                            </tr>

                        </table>


                    </div>

                    <div class="col-3"></div>

    </div>






    </div>