
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div class="container">
    <div class="h2 text-center" style="color:seagreen">
        MEMBERS GOVERNING BODY OF SESSI
    </div>
    <br />
    <table class="table table-responsive">
        <tr>
            <td>1</td>
            <td>
                Mr. Ghulam Murtaza Baloch

                Minister for Labour & HR Department, Government of Sindh/ Chairman Governing Body SESSI
            </td>

        </tr>
        <tr>
            <td>2</td>
            <td>
                Mr. Manzoor Ali Shaikh

                Secretary to Government of Sindh

                Labour & HR Department
            </td>

        </tr>
        <tr>
            <td>3</td>
            <td>
                Mr. Abdul Haleem Shaikh

                Secretary to Government of Sindh

                Industries & Commerce Department
            </td>

        </tr>
        <tr>
            <td>4</td>
            <td>
                Dr. Noor Alam

                Addl. Chief Secretary to Government of Sindh

                Finance Department
            </td>

        </tr>

        <tr>
            <td>5</td>
            <td>
                Dr. Muhammad Usman Chachar

                Addl. Chief Secretary to Government of Sindh

                Health Department
            </td>

        </tr>
        <tr>
            <td>6</td>
            <td>
                Mr. Kashif Gulzar Shaikh

                Commissioner SESSI
            </td>

        </tr>
        <tr>
            <td>7</td>
            <td>
                Mr. M. Zahid Saeed

                Employers' Representative
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>

                Mr. Shah Jehan Ahmed Shaikh

                Employers' Representative
            </td>
        </tr>

        <tr>
            <td>
                9
            </td>
            <td>

                Prince Hamid Ali Khan

                Employers' Representative
            </td>
        </tr>

        <tr>
            <td>
                10
            </td>
            <td>

                Mr. Abdul Wahid Shoro

                Employees' Representative
            </td>
        </tr>

        <tr>
            <td>
                11
            </td>
            <td>

                Mr. Muhammad Khan Abro

                Employees' Representative
            </td>
        </tr>

        <tr>
            <td>
                12
            </td>
            <td>

                Mr. Nasir Aziz Mansoor

                Employees' Representative
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>

                Dr. Mumtaz Shaikh,

                Medical Advisor, SESSI

                Ex-officio Member
            </td>
        </tr>
    </table>
</div>
