
@{
    ViewBag.Title = "Organogram";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div class="h4 text-center">ORGANOGRAM</div><br /><br />
<div id="BF46FEF25DDC61A4E7DDC1CF40C606CB637_95479"><div id="BF46FEF25DDC61A4E7DDC1CF40C606CB637_95479_robot"><a href="https://cloud.smartdraw.com/share.aspx/?widgetToken=BF46FEF25DDC61A4E7DDC1CF40C606CB637" target="_blank"><img src="https://cloud.smartdraw.com/cloudstorage/BF46FEF25DDC61A4E7DDC1CF40C606CB637/preview2.png"></a></div></div>
<script src="https://cloud.smartdraw.com/plugins/html/js/sdjswidget_html.js" type="text/javascript"></script>
<script type="text/javascript">SDJS_Widget("BF46FEF25DDC61A4E7DDC1CF40C606CB637", 95479, 1, "");</script><br />

