
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}
    <div class="container">
        <br />
        <br />
        <p class="p-1">In Pakistan, Social Security Scheme was launched on 1st March, 1967, under West Pakistan Employees' Social Security Ordinance No. X of 1965, with the assistance of the International Labour Organization. The Sindh Employees' Social Security Institution (SESSI), however, came into being on 1st July, 1970 when the Scheme was reorganized on provincial basis after the dissolution of One-Unit. Initially, the Scheme was designed for coverage of textile industry workers of Karachi and Hyderabad. On getting encouraging results later on the Scheme was extended to all other industries and commercial units.</p>
        <p class="p-1">SESSI is a service oriented organization. The function of the Institution is unique in nature for the welfare of labour class. It aims at providing medical care facilities and cash benefits to the secured workers and their dependants.</p>
        <div class="row">
            <div class="col-6">
                <h1 class="h3"> Administration</h1>
                <p class="p-1">The general direction and superintendence of the affairs of the Institution vest in a tripartite Governing Body. In its functioning, the Institution is guided by such instructions on questions of policy as may be given to it from time to time by the Government.</p>
            </div>
            <div class="col-6">
                <img class="img-thumbnail" src="~/Content/images/admin.jpg" height="400" width="600" />
            </div>

            <div class="col-6">
                <br />
                <img class="img-thumbnail" src="~/Content/images/medical.jpg" height="400" width="600" />
            </div>
            <div class="col-6">
                <h3 class="h3">
                    <br />
                    Medical Care
                </h3>
                <br />
                <p class="p-1">Medical Care occupies the most significant place in the services of SESSI more than  70% of its budget is spent on providing medical care facilities to the secured workers and their dependants.</p>
            </div>



            <div class="col-6">
                <h3 class="h3">
                    <br />
                    Cash Benefits
                </h3>
                <br />
                <p class="p-1"> Under Social Security Scheme secured workers are entitled to cash sickness benefit, injury benefit, maternity benefit, iddat benefit, disablement gratuity, disablement pension, ex-gratia grant and dependants get survivors' pension and death grant.</p>
            </div>

            <div class="col-6">
                <br />
                <img class="img-thumbnail" src="~/Content/images/cash.jpg" height="400" width="600" />
            </div>
        </div>
    </div>