
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<!-- Banner -->
<div>
    <section id="banner" class="py-5">
        <div class="success-overlay text-success">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 text-center">
                        <h1 class="display-4 mt-4 pt-5">
                            Sindh Employee Social Security Institute
                        </h1>
                        <p class="lead pt-0">A Social Security Institution which guarentees a safe and secure present and future</p>
                        <a href="#" class="btn btn-outline-success btn-lg mt-5 pt-0">
                            <i class="fas fa-arrow-right "></i> About Us
                        </a>
                    </div>
                    <div class="col-lg-6">

                        <div class="row py-5 text-center">
                          <div class="col-md-6">
                                    <a href="#" class="d-none d-lg-block">
                                        <img src="#" height="300" width="300" alt="" class="img-fluid py-3">
                                    </a>
                                </div>
                         



                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- END Banner -->
    <!-- Square -->
    <section class="py-5" id="square">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/images/mountains.jpg" alt="" class="img-fluid mb-3 py-3 border-success">
                    <h3></h3>
                </div>
                <div class="col-md-4">
                    <img src="~/Content/images/mountains.jpg" alt="" class="img-fluid mb-3 py-3 border-success">
                </div>
                <div class="col-md-4">
                    <img src="~/Content/images/mountains.jpg" alt="" class="img-fluid mb-3 py-3 border-success">
                </div>

            </div>

            <button class="btn btn-success btn-block btn-big py-2">Our Team</button>


        </div>

    </section>

    <!-- FAQ -->
    <!-- ABOUT / WHY SECTION -->
    <section id="about" class="py-5 text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="text-success pb-3">
                            Frequently Asked Questions
                        </h1>
                        <p class="lead text-success block-quote">These are the most frequently asked questions</p>
                    </div>

                    <!-- ACCORDION -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i> What is SESSI
                                    </div>
                                </h5>
                            </div>

                            <div id="collapse1" class="collapse show">
                                <div class="card-body">
                                    SESSI is an autonomous body, the general direction and superintendence of the affairs of the Institution vest in a tripartite Governing Body. In its functioning, the Institution is guided by such instructions on questions of policy as may be given to it from time to time by the Government.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div href="#collapse2" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i> How SESSI works
                                    </div>
                                </h5>
                            </div>

                            <div id="collapse2" class="collapse">
                                <div class="card-body">
                                    SESSI is a self generating Institution; the main source of funds of SESSI is the Social Security Contribution.
                                    Employers covered under the Scheme contribute towards the Scheme 6% of their wages
                                    paid to insurable workers. Sessi provides them Medical care and Cash benefits all over sindh
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div href="#collapse3" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i> Functions of SESSI
                                    </div>
                                </h5>
                            </div>

                            <div id="collapse3" class="collapse">
                                <div class="card-body">
                                    The main functions of SESSI is to provide medical care and cash benefits to secured workers and their dependants in the event of sickness, maternity, employment injury, death grant, iddat, disablement gratuity, disablement pension, survivors' pension and ex-gratia grant.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FAQ END -->
    <!-- Gallery -->

    <section id="gallery" class="py-5"></section>
    <div class="container">
        <h1 class="text-center text-success">Photo Gallery</h1>
        <p class="text-center lead">Our Some Photos</p>
        <div class="row">
           
                <div class="col-md-4 mb-4">
                    <a href="#" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
                       data-width="560">
                        <img src="#" style="width: 100%;" alt="" class="img-fluid">
                    </a>
                </div>
        



        </div>
    </div>

    <!-- Gallery End   -->


