
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HeaderFooter.cshtml";
}

<div class="container">


    <div class="h4 text-center" style="color:seagreen">ADVERTISEMENT</div><br />
    <div class="row">
        <div class="col-4">
            <div class="toast" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto" style="color:seagreen">1</strong>
                </div>
                <div class="toast-body">
                    <a href="#" style="color:seagreen">DEPUTY DIRECTORS</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="toast" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto" style="color:seagreen">2</strong>

                </div>
                <div class="toast-body">
                    <a href="#" style="color:seagreen"> Accounts/Audit Officers</a>
                </div>
            </div>
            <br /><br />
        </div>
        <div class="col-4">
            <div class="toast" data-autohide="false">
                <div class="toast-header">
                    <strong class="mr-auto" style="color:seagreen">3</strong>

                </div>
                <div class="toast-body">
                    <a href="#" style="color:seagreen">DEPUTY DIRECTORS</a>
                </div>
            </div>
        </div>

    </div>
</div>




